@use "../variables";
@use "../functions";
@use "../mixins";

.bottom-drawer {
  position: fixed;
  z-index: 200;
  top: functions.pxToRem(64);
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - functions.pxToRem(64));
  background-color: var(--color-surface-2);
  border-top-left-radius: functions.pxToRem(40);
  border-top-right-radius: functions.pxToRem(40);
  overflow: hidden;

  &__header {
    flex: none;
    width: 100%;
    height: functions.pxToRem(64);
    background-color: var(--color-surface-2);
    box-shadow: variables.$shadow-md;
  }

  &__container {
    @include mixins.container;
    padding-left: functions.pxToRem(20);
    padding-right: functions.pxToRem(20);

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: functions.pxToRem(40);
      padding-right: functions.pxToRem(40);
    }
    
    &--on-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &--on-body {
      flex: 1 1 0;
      padding-bottom: functions.pxToRem(80);
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    margin-right: functions.pxToRem(16);
    margin-left: functions.pxToRem(16);
    font-family: variables.$font-display;
    font-weight: 400;
    font-size: functions.pxToRem(24);
    color: var(--color-text);
  }

  &__body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-top: functions.pxToRem(24);
  }

  &__footer {
    flex: none;
  }
}