@use "../variables";
@use "../mixins";

.bottom-drawer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 64px);
  background-color: var(--color-surface-2);
  border-top-left-radius: variables.$size-40;
  border-top-right-radius: variables.$size-40;
  overflow: hidden;
  transform: translateY(calc(100% - variables.$size-64));
  transition: transform 600ms;

  &__header {
    flex: none;
    width: 100%;
    height: variables.$size-64;
    background-color: var(--color-surface-2);
    box-shadow: variables.$shadow-md;
  }

  &__container {
    @include mixins.container;
    padding-left: variables.$size-20;
    padding-right: variables.$size-20;

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: variables.$size-40;
      padding-right: variables.$size-40;
    }
    
    &--on-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &--on-body {
      flex: 1 1 0;
      padding-bottom: variables.$size-80;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    margin-right: variables.$size-16;
    margin-left: variables.$size-16;
    font-family: variables.$font-display;
    font-weight: 400;
    font-size: variables.$size-24;
    color: var(--color-text);
  }

  &__body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-top: variables.$size-24;
  }

  &__footer {
    flex: none;
  }
}