@use "../variables";
@use "../mixins";

.bottom-drawer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 64px);
  background-color: var(--color-surface-1);
  border-top-left-radius: variables.$size-40;
  border-top-right-radius: variables.$size-40;
  overflow: hidden;
  transform: translateY(calc(100% - variables.$size-64));
  transition: transform 600ms;

  &__header {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: variables.$size-64;
    background-color: var(--color-surface-2);
    box-shadow: variables.$shadow-md;
  }

  &__title {
    margin-right: variables.$size-24;
    margin-left: variables.$size-24;
    font-family: variables.$font-display;
    font-weight: 400;
    font-size: variables.$size-24;
    color: var(--color-text);
  }

  &__body {
    flex: 1 1 0;
    width: 100%;
    overflow-y: auto;
    padding-top: variables.$size-24;
  }

  &__container {
    @include mixins.container;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__content {
    flex: 1 1 0;
  }

  &__footer {
    flex: none;
  }
}