@use "../variables";
@use "../functions";

.dish {
  margin-bottom: functions.pxToRem(14);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: functions.pxToRem(68);
  border-radius: functions.pxToRem(16);
  background-color: var(--color-surface-1);
  box-shadow: variables.$shadow-md;
  overflow: hidden;
  
  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__section {
    flex: none;
    font-family: variables.$font-sans;

    &--info {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 56px);
      min-height: 68px;
      padding: functions.pxToRem(14);
      transition: width 150ms;

      .dish__input:checked ~ & {
        width: calc(100% - 124px);
      }
    }

    &--price {
      align-self: flex-end;
      width: 56px;
      padding-bottom: functions.pxToRem(14);
      padding-right: functions.pxToRem(14);
    }

    &--badge {
      display: flex;
      width: 68px;
      background-color: var(--color-green);
    }
  }

  &__name {
    margin-bottom: functions.pxToRem(4);
    font-size: functions.pxToRem(18);
    font-weight: 500;
    line-height: 1;
    color: var(--color-text);
    
    @media screen and (min-width: variables.$screen-sm) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__desc {
    font-size: functions.pxToRem(15);
    font-weight: 400;
    line-height: 1;
    color: var(--color-text-alt);

    @media screen and (min-width: variables.$screen-sm) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__price {
    margin-left: auto;
    width: max-content;
    font-size: functions.pxToRem(15);
    font-weight: 500;
    line-height: 1;
    color: var(--color-text-alt);
  }

  &__icon {
    margin: auto;
    width: functions.pxToRem(24);
    height: functions.pxToRem(24);
    color: var(--color-white);
  }
}