@use "../variables";
@use "../mixins";

.drawer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  background-color: var(--color-surface-1);
  border-top-left-radius: variables.$size-40;
  border-top-right-radius: variables.$size-40;
  overflow: hidden;
  transform: translateY(calc(100% - variables.$size-64));
  transition: transform 600ms;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: variables.$size-64;
    background-color: var(--color-surface-2);
    box-shadow: variables.$shadow-lg;
  }

  &__title {
    font-family: variables.$font-display;
    font-weight: 400;
    font-size: variables.$size-24;
    color: var(--color-text);
  }

  &__button {
    display: flex;
    width: variables.$size-48;
    height: variables.$size-48;
    border-radius: 9999px;
  }

  &__icon {
    margin: auto;
    width: variables.$size-24;
    height: variables.$size-24;
    color: var(--color-text-alt);
  }
}