@use "../variables";
@use "../functions";
@use "../mixins";

.footer {
  width: 100%;
  height: auto;
  background-color: var(--color-footer);
  padding-top: functions.pxToRem(24);
  padding-bottom: functions.pxToRem(32);

  @media screen and (min-width: variables.$screen-lg) {
    padding-top: functions.pxToRem(40);
    padding-bottom: functions.pxToRem(40);
  }

  &__container {
    @include mixins.container;
    padding-left: functions.pxToRem(20);
    padding-right: functions.pxToRem(20);

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: functions.pxToRem(40);
      padding-right: functions.pxToRem(40);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: functions.pxToRem(24);
    font-family: variables.$font-display;
    font-size: functions.pxToRem(24);
    line-height: 1;
    color: var(--color-white);

    @media screen and (min-width: variables.$screen-lg) {
      margin-bottom: 0;
    }
  }
}