/*------------------------------------*\
  #HEART-BUTTON
\*------------------------------------*/

.heart-button__shape {
  transition-property: visibility, opacity;
  transition-duration: 150ms;
}

.heart-button__shape--outlined {
  visibility: visible;
  opacity: 1;
}

.heart-button__shape--filled {
  visibility: hidden;
  opacity: 0;
}

.heart-button:hover > .heart-button__icon > .heart-button__shape--outlined {
  visibility: hidden;
  opacity: 0;
}

.heart-button:hover > .heart-button__icon > .heart-button__shape--filled {
  visibility: visible;
  opacity: 1;
}