@use "../variables";

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.4, 1.4, 1.4);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.heart-button {
  position: relative;
  display: flex;
  width: variables.$size-48;
  height: variables.$size-48;
  cursor: pointer;
  border-radius: 9999px;
  overflow: hidden;
  transition: background-color 150ms;

  &:hover {
    background-color: var(--color-surface-3);
  }

  &--on-right {
    margin-right: -(variables.$size-12);
  }

  &__input {
    margin: 0;
    position: absolute;
    display: block;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__icon {
    position: relative;
    z-index: 10;
    margin: auto;
    width: variables.$size-24;
    height: variables.$size-24;

    .heart-button__input:checked ~ & {
      animation-name: pulse;
      animation-timing-function: ease-in-out;
      animation-duration: 300ms;
    }
  }

  &__shape {
    transition-property: visibility, opacity;
    transition-duration: 150ms;

    &--outlined {
      visibility: visible;
      opacity: 1;
      color: var(--color-text);

      .heart-button__input:checked ~ .heart-button__icon > & {
        visibility: hidden;
        opacity: 0;
      }
    }

    &--filled {
      visibility: hidden;
      opacity: 0;

      .heart-button__input:checked ~ .heart-button__icon > & {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}