@use "../variables";
@use "../functions";
@use "../mixins";

.hero {
  width: 100%;
  @include mixins.lg-container;

  @media screen and (min-width: variables.$screen-lg) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: functions.pxToRem(40);
    padding-top: functions.pxToRem(96);
    padding-bottom: functions.pxToRem(96);
  }

  &__section {
    padding-top: functions.pxToRem(40);
    padding-bottom: functions.pxToRem(56);
    font-family: variables.$font-sans;

    @media screen and (min-width: variables.$screen-lg) {
      padding: 0;
    }

    &--presentation {
      background-color: var(--color-surface-2);
      text-align: center;

      @media screen and (min-width: variables.$screen-lg) {
        background-color: transparent;
        text-align: left;
        padding-left: functions.pxToRem(40);
        padding-right: functions.pxToRem(40);
      }

      @media screen and (min-width: variables.$screen-xl) {
        padding-right: functions.pxToRem(96);
      }
    }

    &--steps {
      @media screen and (min-width: variables.$screen-lg) {
        padding-left: 0;
        padding-right: functions.pxToRem(40);
      }
    }
  }

  &__container {
    @include mixins.container;
    padding-left: functions.pxToRem(20);
    padding-right: functions.pxToRem(20);

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    font-size: functions.pxToRem(24);
    font-weight: 700;
    line-height: functions.pxToRem(28);
    color: var(--color-text);

    &--sm {
      margin-bottom: functions.pxToRem(20);
      padding-left: functions.pxToRem(12);

      @media screen and (min-width: variables.$screen-lg) {
        font-size: functions.pxToRem(32);
        line-height: functions.pxToRem(40);
      }
    }

    &--lg {
      margin-bottom: functions.pxToRem(12);

      @media screen and (min-width: variables.$screen-lg) {
        margin-bottom: functions.pxToRem(24);
        font-size: functions.pxToRem(44);
        line-height: functions.pxToRem(48);
      }
    }
  }

  &__subtitle {
    margin-bottom: functions.pxToRem(32);
    font-weight: 400;
    font-size: functions.pxToRem(18);
    color: var(--color-text-alt);
    line-height: functions.pxToRem(24);
  }
}