@use "../variables";
@use "../functions";

.icon-button {
  display: flex;
  width: functions.pxToRem(48);
  height: functions.pxToRem(48);
  color: var(--color-text-alt);
  border-radius: 9999px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 150ms;

  &:hover {
    background-color: var(--color-surface-3);
    color: var(--color-text);
  }

  &--on-right {
    margin-right: -(functions.pxToRem(12));
  }

  &--on-left {
    margin-left: -(functions.pxToRem(12));
  }

  &--can-rotate {
    transition-property: background-color, color, transform;
  }

  &__icon {
    margin: auto;
    width: functions.pxToRem(24);
    height: functions.pxToRem(24);

    &--lg {
      width: functions.pxToRem(32);
      height: functions.pxToRem(32);
    }
  }
}