@use "../variables";
@use "../functions";
@use "../mixins";

.location {
  position: relative;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: functions.pxToRem(56);
  background-color: var(--color-surface-3);
  color: var(--color-text);

  &__icon {
    margin-left: -(functions.pxToRem(40));
    margin-right: functions.pxToRem(12);
    width: functions.pxToRem(24);
    height: functions.pxToRem(24);
  }

  &__address {
    font-family: variables.$font-sans;
    font-size: functions.pxToRem(16);
    font-weight: 500;
  }
}