@use "../variables";
@use "../functions";

.navigation {
  font-family: variables.$font-sans;
  font-size: functions.pxToRem(16);
  font-weight: 500;
  color: var(--color-white);

  &__list {
    @media screen and (min-width: variables.$screen-md) {
      display: flex;
      flex-direction: row;
    }
  }

  &__item {
    margin-bottom: functions.pxToRem(8);
    transition: color 150ms;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: variables.$screen-md) {
      margin-bottom: 0;
      margin-right: functions.pxToRem(32);

      &:last-child {
        margin-right: 0;
      }
    }

    &:hover {
      color: var(--color-pink);
    }

    &--with-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__icon {
    margin-right: functions.pxToRem(8);
    width: functions.pxToRem(16);
    height: functions.pxToRem(16);
  }
}