@use "../variables";
@use "../functions";

.period-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: functions.pxToRem(20);
  
  padding-bottom: functions.pxToRem(48);

  @media screen and (min-width: variables.$screen-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: variables.$screen-lg) {
    gap: functions.pxToRem(40);
  }

  @media screen and (min-width: variables.$screen-xl) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}