@use "../variables";
@use "../functions";
@use "../mixins";

.restaurant-section {
  width: 100%;
  height: auto;
  padding-top: functions.pxToRem(56);
  padding-bottom: functions.pxToRem(64);
  background-color: var(--color-surface-2);

  @media screen and (min-width: variables.$screen-lg) {
    padding-top: functions.pxToRem(96);
    padding-bottom: functions.pxToRem(96);
  }

  &__container {
    @include mixins.container;
    padding-left: functions.pxToRem(20);
    padding-right: functions.pxToRem(20);

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: functions.pxToRem(40);
      padding-right: functions.pxToRem(40);
    }
  }

  &__title {
    margin-bottom: functions.pxToRem(22);
    font-family: variables.$font-sans;
    font-size: functions.pxToRem(24);
    font-weight: 700;
    color: var(--color-text);

    @media screen and (min-width: variables.$screen-lg) {
      font-size: functions.pxToRem(32);
    }
  }
}