@use "../variables";
@use "../functions";

.restaurant-card {
  display: block;
  width: 100%;
  border-radius: functions.pxToRem(15);
  overflow: hidden;
  background-color: var(--color-surface-1);
  box-shadow: variables.$shadow-lg;
  transition: background-color 150ms;

  &:hover {
    background-color: hsla(267, 66%, 60%, 8%);
  }

  &--with-badge {
    position: relative;
  }

  &__image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 150ms;
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: functions.pxToRem(16);

    @media screen and (min-width: variables.$screen-lg) {
      padding: functions.pxToRem(24);
    }
  }

  &__info {
    font-family: variables.$font-sans;
  }

  &__name {
    font-weight: 500;
    font-size: functions.pxToRem(18);
    color: var(--color-text);
  }

  &__location {
    font-weight: 400;
    font-size: functions.pxToRem(17);
    color: var(--color-text-alt);
  }

  &__badge {
    position: absolute;
    top: functions.pxToRem(12);
    right: functions.pxToRem(12);
    padding: functions.pxToRem(8) functions.pxToRem(16);
    background-color: var(--color-green);
    font-family: variables.$font-sans;
    font-weight: 500;
    font-size: functions.pxToRem(14);
    color: var(--color-dark-green);
    border-radius: functions.pxToRem(4);
  }
}
