@use "../variables";

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner {
  width: variables.$size-72;
  height: variables.$size-72;
  border-radius: 9999px;
  border: variables.$size-8 solid var(--color-surface-3);
  border-top-color: var(--color-pink);
  animation-name: spin;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}