@use "../variables";

.step-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: variables.$size-12;
  counter-reset: step 0;
  font-family: variables.$font-sans;

  &__item {
    margin-bottom: variables.$size-24;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: variables.$screen-xs;
    height: variables.$size-72;
    background-color: var(--color-surface-2);
    border-radius: variables.$size-20;
    box-shadow: variables.$shadow-lg;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: variables.$screen-lg) {
      max-width: none;
    }

    &--left {
      align-self: flex-start;
    }

    &--middle {
      align-self: center;
    }

    &--right {
      align-self: flex-end;
    }
  }

  &__number {
    margin-left: -(variables.$size-12);
    margin-right: variables.$size-20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: variables.$size-24;
    height: variables.$size-24;
    border-radius: 9999px;
    background-color: var(--color-purple);

    &::after {
      counter-increment: step;
      content: counter(step);
      font-size: variables.$size-14;
      font-weight: 500;
      color: var(--color-white);
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-right: variables.$size-24;
    width: variables.$size-24;
    height: variables.$size-24;
    color: var(--color-text-alt);
  }

  &__name {
    font-weight: 500;
    font-size: variables.$size-16;
    color: var(--color-text);
  }
}