@use "../variables";
@use "../mixins";

.top-app-bar {
  position: relative;
  z-index: 100;
  width: 100%;
  height: variables.$size-64;
  background-color: var(--color-surface-1);
  box-shadow: variables.$shadow-lg;

  &__container {
    @include mixins.container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: variables.$size-20;
    padding-right: variables.$size-20;
    height: variables.$size-64;

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: variables.$size-40;
      padding-right: variables.$size-40;
    }
  }

  &__logo {
    font-family: variables.$font-display;
    font-size: variables.$size-24;
    line-height: 1;
    color: var(--color-text);

    @media screen and (min-width: variables.$screen-md) {
      font-size: variables.$size-30;
    }
  }
}