@use "../variables";
@use "../functions";
@use "../mixins";

.top-app-bar {
  z-index: 100;
  width: 100%;
  height: functions.pxToRem(64);

  &--static {
    position: relative;
    background-color: var(--color-surface-1);
    box-shadow: variables.$shadow-lg;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__container {
    @include mixins.container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: functions.pxToRem(20);
    padding-right: functions.pxToRem(20);
    height: functions.pxToRem(64);

    @media screen and (min-width: variables.$screen-lg) {
      padding-left: functions.pxToRem(40);
      padding-right: functions.pxToRem(40);
    }
  }

  &__section {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__logo {
    font-family: variables.$font-display;
    font-size: functions.pxToRem(24);
    line-height: 1;
    color: var(--color-text);

    @media screen and (min-width: variables.$screen-md) {
      font-size: functions.pxToRem(30);
    }

    &--ml {
      margin-left: functions.pxToRem(16);
    }
  }
}