$font-fallback: system-ui, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-display: 'Shrikhand', $font-fallback;
$font-sans: 'Roboto', $font-fallback;

$screen-xs: 23.4375rem;
$screen-sm: 36rem;
$screen-md: 48rem;
$screen-lg: 62rem;
$screen-xl: 75rem;

$color-purple: hsl(267, 66%, 60%);
$color-pink: hsl(317, 100%, 74%);
$color-green: hsl(165, 56%, 74%);
$color-dark-green: hsl(165, 100%, 26%);
$color-white: hsl(0, 0%, 100%);
$color-very-light-gray: hsl(0, 0%, 96%);
$color-light-gray: hsl(0, 0%, 92%);
$color-dark-gray: hsl(0, 0%, 21%);

$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);