$font-fallback: system-ui, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-display: 'Shrikhand', $font-fallback;
$font-sans: 'Roboto', $font-fallback;

$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-21: 1.3125rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-44: 2.75rem;
$size-48: 3rem;
$size-56: 3.5rem;
$size-64: 4rem;
$size-68: 4.25rem;
$size-72: 4.5rem;
$size-80: 5rem;
$size-96: 6rem;
$size-120: 7.5rem;
$size-128: 8rem;
$size-174: 10.875rem;
$size-186: 11.625rem;

$screen-xs: 23.4375rem;
$screen-sm: 36rem;
$screen-md: 48rem;
$screen-lg: 62rem;
$screen-xl: 75rem;

$color-purple: hsl(267, 66%, 60%);
$color-pink: hsl(317, 100%, 74%);
$color-green: hsl(165, 56%, 74%);
$color-dark-green: hsl(165, 100%, 26%);
$color-white: hsl(0, 0%, 100%);
$color-very-light-gray: hsl(0, 0%, 96%);
$color-light-gray: hsl(0, 0%, 92%);
$color-dark-gray: hsl(0, 0%, 21%);

$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);