/*------------------------------------*\
  #reset
\*------------------------------------*/

@use "./reset";

/*------------------------------------*\
  #components
\*------------------------------------*/

@use "./components/button";
@use "./components/footer";
@use "./components/heart-button";
@use "./components/hero";
@use "./components/loader";
@use "./components/location";
@use "./components/navigation";
@use "./components/page";
@use "./components/restaurant-card";
@use "./components/restaurant-list";
@use "./components/restaurant-section";
@use "./components/slider";
@use "./components/step-list";
@use "./components/switch";
@use "./components/top-app-bar";

/*------------------------------------*\
  #theme
\*------------------------------------*/

@use "./theme";

/*------------------------------------*\
  #animations
\*------------------------------------*/

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

#loader {
  animation-name: fadeOut;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0,.66,.19,1);
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

#loader-spinner {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-timing-function: linear;
}