@use "./variables";
@use "./reset";

:root {
  --color-purple: hsl(267, 66%, 60%);
  --color-pink: hsl(317, 100%, 74%);
  --color-green: hsl(165, 56%, 74%);
  --color-dark-green: hsl(165, 100%, 26%);
  --color-bg: hsl(0, 0%, 100%);
  --color-surface: hsl(0, 0%, 96%);
  --color-banner: hsl(0, 0%, 92%);
  --color-text: hsl(0, 0%, 21%);
}

#theme-button:checked {
  --color-bg: hsl(0, 0%, 100%);
  --color-surface: hsl(0, 0%, 96%);
  --color-banner: hsl(0, 0%, 92%);
  --color-text: hsl(0, 0%, 21%);
}
