/*------------------------------------*\
  #RESET
\*------------------------------------*/

@use "./reset";

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

@use "./components/bottom-drawer";
@use "./components/button";
@use "./components/dish";
@use "./components/footer";
@use "./components/heart-button";
@use "./components/hero";
@use "./components/loader";
@use "./components/icon-button";
@use "./components/location";
@use "./components/navigation";
@use "./components/page";
@use "./components/period-list";
@use "./components/period";
@use "./components/restaurant-card";
@use "./components/restaurant-list";
@use "./components/restaurant-section";
@use "./components/slider";
@use "./components/step-list";
@use "./components/switch";
@use "./components/top-app-bar";
@use "./components/top-drawer";

/*------------------------------------*\
  #theme
\*------------------------------------*/

@use "./theme";

/*------------------------------------*\
  #animations
\*------------------------------------*/

@keyframes top-drawer {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bottom-drawer {
  from {
    transform: translateY(calc(100% - 64px));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rotate-drawer-button {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#top-drawer {
  animation-name: top-drawer;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0, 0.66, 0.19, 1);
  animation-delay: 2000ms;
  animation-fill-mode: backwards;
  transition: transform 600ms;
}

#bottom-drawer {
  animation-name: bottom-drawer;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0, 0.66, 0.19, 1);
  animation-delay: 2000ms;
  animation-fill-mode: backwards;
  transition: transform 600ms;
}

#drawer-button {
  animation-name: rotate-drawer-button;
  animation-duration: 600ms;
  animation-delay: 2000ms;
  animation-fill-mode: backwards;
}

#drawer-switch:checked ~ #app #top-drawer {
  transform: translateY(-50%);
}

#drawer-switch:checked ~ #app #bottom-drawer {
  transform: translateY(calc(100% - 64px));
}

#drawer-switch:checked ~ #app #drawer-button {
  transform: rotate(180deg);
}

#slide-input-1:checked ~ .slider__pannel {
  transform: translateX(0);
}
#slide-input-2:checked ~ .slider__pannel {
  transform: translateX(-50%);
}

#slide-input-1:checked ~ #slide-button-2 {
  display: block;
  right: 0;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-image: url("chevron_right.svg");
}

#slide-input-2:checked ~ #slide-button-1 {
  display: block;
  left: 0;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-image: url("chevron_left.svg");
}

#loader {
  animation-name: fade-out;
  animation-duration: 600ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

#loader-spinner {
  animation-name: spin;
  animation-duration: 1200ms;
  animation-timing-function: linear;
}
