@use "../variables";
@use "../functions";

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.4, 1.4, 1.4);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.heart-button {
  position: relative;
  display: flex;
  width: functions.pxToRem(48);
  height: functions.pxToRem(48);

  &--on-right {
    margin-right: -(functions.pxToRem(12));
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    position: absolute;
    display: block;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 9999px;
    transition: background-color 150ms;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  &__icon {
    position: relative;
    z-index: 10;
    margin: auto;
    width: functions.pxToRem(24);
    height: functions.pxToRem(24);

    .heart-button__input:checked ~ & {
      animation-name: pulse;
      animation-timing-function: ease-in-out;
      animation-duration: 300ms;
    }
  }

  &__shape {
    transition-property: visibility, opacity;
    transition-duration: 150ms;

    &--outlined {
      visibility: visible;
      opacity: 1;

      .heart-button__input:checked ~ .heart-button__icon > & {
        visibility: hidden;
        opacity: 0;
      }
    }

    &--filled {
      visibility: hidden;
      opacity: 0;

      .heart-button__input:checked ~ .heart-button__icon > & {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
