@use "../variables";
@use "../functions";

.period {
  width: 100%;

  &__name {
    margin-bottom: functions.pxToRem(4);
    font-family: variables.$font-sans;
    font-size: functions.pxToRem(16);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text);
  }

  &__underline {
    margin-bottom: functions.pxToRem(14);
    width: functions.pxToRem(40);
    height: functions.pxToRem(3);
    background-color: var(--color-green);
  }
}