/*------------------------------------*\
  #BACKGROUND
\*------------------------------------*/

.bg-white {background-color: $color-white;}
.bg-light-gray {background-color: $color-light-gray;}
.bg-very-light-gray {background-color: $color-very-light-gray;}
.bg-gradient {background: linear-gradient(to bottom, $color-pink, $color-purple);}
.bg-purple {background-color: $color-purple;}
.bg-green {background-color: $color-green;}
.bg-dark-gray {background-color: $color-dark-gray;}

@media screen and (min-width: $screen-lg) {
  .lg-bg-transparent {background-color: transparent;}
  .lg-bg-white {background-color: $color-white;}
}