@use "../variables";

/*------------------------------------*\
  #BORDER
\*------------------------------------*/

.border-none {
  border: none;
}

.border-8 {
  border-width: variables.$size-8;
}

.border-solid {
  border-style: solid;
}

.border-surface-3 {
  border-color: var(--color-surface-3);
}

.border-top-pink {
  border-top-color: var(--color-pink);
}

.rounded-2 {
  border-radius: variables.$size-2;
}

.rounded-15 {
  border-radius: variables.$size-15;
}

.rounded-20 {
  border-radius: variables.$size-20;
}

.rounded-full {
  border-radius: 9999px;
}
