@use "../variables";

/*------------------------------------*\
  #DISPLAY
\*------------------------------------*/

.grid {display: grid;}
.flex {display: flex;}
.hidden {display: none;}
.block {display: block;}
.inline-block {display: inline-block;}

@media screen and (min-width: variables.$screen-lg) {
  .lg-grid {display: grid;}
  .lg-flex {display: flex;}
}