/*------------------------------------*\
  #DISPLAY
\*------------------------------------*/

.grid {display: grid;}
.flex {display: flex;}
.hidden {display: none;}
.inline-block {display: inline-block;}