@use "../variables";

/*------------------------------------*\
  #HEIGHT
\*------------------------------------*/

.h-auto {
  height: auto;
}

.h-24 {
  height: variables.$size-24;
}

.h-28 {
  height: variables.$size-28;
}

.h-72 {
  height: variables.$size-72;
}

.h-174 {
  height: variables.$size-174
}