/*------------------------------------*\
  #OPACITY
\*------------------------------------*/

.opacity-0 {opacity: 0;}
.opacity-1 {opacity: 1;}

.group:hover .group-hover-opacity-0 {
  opacity: 0;
}

.group:hover .group-hover-opacity-1 {
  opacity: 1;
}