@use "../variables";

/*------------------------------------*\
  #POSITION
\*------------------------------------*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-12 {
  top: variables.$size-12;
}

.left-0 {
  left: 0;
}

.right-12 {
  right: variables.$size-12;
}