@use "../variables";

/*------------------------------------*\
  #POSITION
\*------------------------------------*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-12 {
  top: variables.$size-12;
}

.right-12 {
  right: variables.$size-12;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}