/*------------------------------------*\
  #TRANSITION
\*------------------------------------*/

.transition-fade {
  transition-property: visibility, opacity;
  transition-duration: 150ms;
}

.transition-transform {
  transition: transform 150ms;
}