@use "../variables";

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

.font-display {font-family: 'Shrikhand', variables.$font-fallback;}
.font-sans {font-family: 'Roboto', variables.$font-fallback;}

.font-light {font-weight: 300;}
.font-medium {font-weight: 500;}
.font-bold {font-weight: 700;}

.leading-18 {line-height: variables.$size-18;}
.leading-20 {line-height: variables.$size-20;}
.leading-21 {line-height: variables.$size-21;}
.leading-28 {line-height: variables.$size-28;}
.leading-30 {line-height: variables.$size-30;}

.text-14 {font-size: variables.$size-14;}
.text-16 {font-size: variables.$size-16;}
.text-17 {font-size: variables.$size-17;}
.text-24 {font-size: variables.$size-24;}
.text-18 {font-size: variables.$size-18;}
.text-30 {font-size: variables.$size-30;}

.text-center {text-align: center;}
.text-end {text-align: end;}

.text-dark-gray {color: var(--color-text);}
.text-white {color: variables.$color-white;}
.text-dark-green {color: variables.$color-dark-green}

@media screen and (min-width: variables.$screen-lg) {
  .lg-text-left {text-align: left;}
  
  .lg-text-44 {font-size: variables.$size-44;}
  
  .lg-leading-48 {line-height: variables.$size-48;}
}